body {
  margin: 0;
  padding: 0;
  height: 100vh;
  /* background-image: url('./assets/bg.jpg'); */
  background-size: cover; /* This will ensure the background covers the entire screen */
  background-position: center; /* This centers the background image */
  background-repeat: no-repeat;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}
.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(0, 0, 0, 0.2);
  border-top: 4px solid #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-left: 150px;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
